<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SignatureAlgorithm" value="SHA256WITHRSA" />
    <add key="RsaKeyStrength" value="2048" />
    <add key="DsaKeySize" value="1024" />
    <add key="DsaKeyCertainty" value="80" />
    <add key="EcCurveName" value="P-521" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
<!--
Supported signature algorithms:
  MD2WITHRSAENCRYPTION
  MD2WITHRSA
  MD5WITHRSAENCRYPTION
  MD5WITHRSA
  SHA1WITHRSAENCRYPTION
  SHA1WITHRSA
  SHA224WITHRSAENCRYPTION
  SHA224WITHRSA
  SHA256WITHRSAENCRYPTION
  SHA256WITHRSA
  SHA384WITHRSAENCRYPTION
  SHA384WITHRSA
  SHA512WITHRSAENCRYPTION
  SHA512WITHRSA
  SHA1WITHRSAANDMGF1
  SHA224WITHRSAANDMGF1
  SHA256WITHRSAANDMGF1
  SHA384WITHRSAANDMGF1
  SHA512WITHRSAANDMGF1
  RIPEMD160WITHRSAENCRYPTION
  RIPEMD160WITHRSA
  RIPEMD128WITHRSAENCRYPTION
  RIPEMD128WITHRSA
  RIPEMD256WITHRSAENCRYPTION
  RIPEMD256WITHRSA
  SHA1WITHDSA
  DSAWITHSHA1
  SHA224WITHDSA
  SHA256WITHDSA
  SHA384WITHDSA
  SHA512WITHDSA
  SHA1WITHECDSA
  ECDSAWITHSHA1
  SHA224WITHECDSA
  SHA256WITHECDSA
  SHA384WITHECDSA
  SHA512WITHECDSA 
-->